<!DOCTYPE html> 
<html>
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- this would find the css file to connect with layout page. Also, it has the url_for which searches for the folder and filename is specified afterwards -->   
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }} ">
    
    <title> Kanban Board</title>
    </head>


    <body>
        <!--The container-fluid class gives a full-width container which spans the entire width of the viewpor -->
        <div class = "container-fluid">
        <!--Class row is used to hold column in itself-->
        <div class = "row">
        <!--Specifies the width-->
            <div class="col-4">
                <!--header tag creates the header for the column-->
                <h1>To-Do</h1>
                <!-- The <ul> is an unordered (bulleted) list tag. Combine <ul> tag with <li> tag, we can create unordered list-->
                <!--The list-group is an unordered list with list items and the proper classes.-->
                <ul class="list-group">
                    {% for todo in todo_list %}
                    <li class="list-group-item">
                    <div class = "row">
                         <!-- This one is used to display the variable that our fucntion index return, we use { %  % } for python code -->
                        {{ todo.id }} | {{todo.title}}
                        <!--The form specifies where to send the form-date when a form is submitted.-->
                        <form action="/update/{{todo.id}}/Doing", method="GET">
                            <button type="submit"> Doing </button>
                        </form>
                        <form action="/update/{{todo.id}}/Done", method="GET">
                            <button type="submit"> Done </button>
                        </form>
                        <form action="/delete/{{todo.id}}", method="GET">
                            <button type="submit"> Delete </button>
                        </form>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                <form action="/add" method="POST">
                    <!-- Input specified type with text and a placeholder -->
                    <input type="text" name="title" placeholder="Add New Todo">
                    <!--Create a button-->
                    <button type="submit">Add</button>
                </form>
            </div>

            <!--Doing container-->
            <div class="col-4">
                <h1>Doing</h1>
                <ul class="list-group">
                    {% for doing in doing_list %}
                    <li class="list-group-item">
                    <div class = "row">
                        {{ doing.id }} | {{doing.title}}
                        <form action="/update/{{doing.id}}/Todo", method="GET">
                            <button type="submit"> Todo </button>
                        </form>
                        <form action="/update/{{doing.id}}/Done", method="GET">
                            <button type="submit"> Done </button>
                        </form>
                        <form action="/delete/{{doing.id}}", method="GET">
                            <button type="submit"> Delete</button>
                        </form>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <!--done container-->
            <div class="col-4">
                <h1>Done</h1>
                <ul class="list-group">
                    {% for done in done_list %}
                    <li class="list-group-item">
                    <div class = "row">
                        {{ done.id }} | {{done.title}}
                        <form action="/update/{{done.id}}/Todo", method="GET">
                            <button type="submit"> Todo </button>
                        </form>
                        <form action="/update/{{done.id}}/Doing", method="GET">
                            <button type="submit"> Doing </button>
                        </form>
                        <form action="/delete/{{done.id}}", method="GET">
                            <button type="submit"> Delete </button>
                        </form>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    </body>
</html>